html, body {
    margin: 0;
    overflow: hidden;
    min-width: 100%;
    min-height: 100%;
}

#background-image {
    background-image: url('/pngs/BGimg_V2.3.jpg');
    background-size: cover; 
    background-position: center;
    background-attachment: fixed;
    height: 100vh; /* Adjust the height as needed */
    width: 100%; /* Adjust the width as needed */
    z-index: -10;
}

.centerContainer {
    width: 60vw;
    height: 90vh;
    /* border: 1px solid black; */
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}


.chakraManContainer {
        width: 40vw;
        height: 85vh;
        max-width: auto;
        max-height: auto;
        /* border: 2px solid rgb(82, 82, 82); */
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

}

.chakraManContainer img {
    position: absolute;
    width: 34vw;
    max-width: 450px;
    height: auto;
    animation: hoverAnimation 6.3s ease-in-out infinite alternate;   
}







/* Chakraman Floating animation*/ 
@keyframes hoverAnimation {
    0% {
        transform: translate(0, -17%);
    }
    48% {
        transform: translate(0, -18.5%); /* Move up by 20px */
    }
    100% {
        transform: translate(0, -17%);
    }
}

/* Chakraman shadow animation */
@keyframes shadowAnimation {
    0%, 100% {
        transform: translate(-3%, 73%)
    }
    48% {
        transform: translate(-3%, 74.5%)/* Decrease shadow height at the bottom */
    }
}






.chakraContainer {
    width: 12vw;
    max-width: 150px; 
    height: auto;
    position: relative;
    display: flex;
    transform: translate(-3%, -25%);
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.chakras {
    width: 4.3vw;
    transform: translate(-5.5%);
    max-width: 40px;
    height: 4.3vw;
    max-height: 40px;
    margin: .75vw;
    border-radius: 50%;
    /* background-color: rgb(67,117,105); */
    transition: all 0.4s;
    position: relative;
    z-index: 1;
    opacity: 1; 
}

.chakras:hover{

    cursor: pointer;
}

#chakra1 {
    background-color: rgb(43, 35, 46);
}
#chakra1:hover {
    background-color: rgb(78, 67, 84);
}

#chakra2 {
    background-color: rgb(127, 30, 165);
}
#chakra2:hover {
    background-color: rgb(145, 79, 172);
}

#chakra3 {
    background-color: rgb(92, 104, 233)
}
#chakra3:hover {
    background-color: rgb(102, 114, 242);
}

#chakra4 {
    background-color: rgb(101, 169, 101);
}
#chakra4:hover {
    background-color: rgb(165, 226, 165);
}

#chakra5 {
    background-image: url('pngs/chakraIcons/waterChakraIcon.svg');
}
#chakra5:hover {
    opacity: 0.8;
}

#chakra6 {
    background-color: rgb(201, 131, 66);
}
#chakra6:hover {
    background-color: rgb(246, 217, 167);
}
#chakra7 {
    background-color: rgb(187, 66, 66);
}
#chakra7:hover {
    background-color: rgb(252, 130, 130);
}

/* Chakra Enlarge Animation*/
.largeChakra {
    animation: enlarge 0.3s linear;
    z-index: 2;
    /* transform: scale(2.9); */
  }
  @keyframes enlarge {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(2.9);
    }
  }




.infoContainer {
    width: 89.7vw;
    height: 25vh;
    border: 2px solid rgb(47, 193, 47);
    position: absolute;
    left: 4.87%; 
    bottom: 2%;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* Media query for mobile */
@media screen and (max-width: 625px) {
    html, body {
        overflow: auto;
    }
    
    #background-image {
        /* background-attachment: fixed; */
        height: 100vh; /* Adjust the height as needed */
        width: 100%; /* Adjust the width as needed */
        z-index: -10;
    }
    
    .centerContainer {
        width: 90vw;
        height: 70vh;

    }

    .chakraManContainer {
        width: 85vw;
        min-width: 600px; /* Set a minimum width */
        height: 76vh;
        min-height: 600px; /* Set a minimum height */
    }
    .chakraManContainer img {
        position: absolute;
        width: 64vw;
        max-width: 450px;
        height: auto;
        animation: hoverAnimation 6.3s ease-in-out infinite alternate;   
    }

    .chakraContainer {
        width: 15vw;
        min-width: 100px; /* Set a minimum width */
        transform: translate(0, -25%);
    }

    .chakras {
        width: 5vw;
        min-width: 30px; /* Set a minimum width */
        transform: translate(-18%);
        height: 5vw;
        min-height: 30px; /* Set a minimum height */
        margin: 1.6vw;
    }
}

/* Media query for ipads */
@media screen and (max-width: 1105px) {
    .centerContainer {
        width: 75vw; /* Adjusted for iPad */
        height: 80vh; /* Adjusted for iPad */
    }

    .chakraManContainer {
        width: 70vw; /* Adjusted for iPad */
        min-width: 450px; /* Adjusted for iPad */
        height: 80vh; /* Adjusted for iPad */
        min-height: 450px; /* Adjusted for iPad */
    }

    .chakraManContainer img {
        width: 60vw; /* Adjusted for iPad */
        max-width: 400px; /* Adjusted for iPad */
    }

    .chakraContainer {
        width: 13vw; /* Adjusted for iPad */
        min-width: 120px; /* Adjusted for iPad */
        transform: translate(-3%, -25%); /* Adjusted for iPad */
    }

    .chakras {
        width: 4.5vw; /* Adjusted for iPad */
        min-width: 35px; /* Adjusted for iPad */
        height: 4.5vw; /* Adjusted for iPad */
        min-height: 35px; /* Adjusted for iPad */
        margin: 1vw; /* Adjusted for iPad */
        transform: translate(-5.5%); /* Adjusted for iPad */
    }
}








 


/* CLOUD ANIMATIONS */

/* .clouds-container {
    position: absolute;
    width: 100%;
    height: 70%;
    overflow: hidden;
} */

/* .cloud1 {
    position: absolute;
    width: 10%; 
    height: auto;
    object-fit: contain;
    animation: scrollClouds1 150s linear infinite;
}
.cloud2 {
    position: absolute;
    width: 50%; 
    height: auto;
    object-fit: contain;
    animation: scrollClouds2 90s linear infinite;
    transform: translate(100px, 0);
}  */


/* @keyframes scrollClouds1 {
    from {
            transform: translateX(320%);
    }
    to {
            transform: translateX(-110%);
    }
}
@keyframes scrollClouds2 {
    from {
            transform: translateX(50%);
    }
    to {
            transform: translateX(-110%);
    }
}  */